<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Predição</title>
    <link rel= "stylesheet" href="../static/bootstrap.css">
</head>
<body>
    <div class="bg-contact2" style="background-image: url('../static/images/codebg.jpg');">
    <div class="container-contact2">
      <div class="wrap-contact2">
          <span class="contact2-form-title">
              KNN-  Predição 
            </span>
      <form action="/predict" method = "POST">
        <fieldset>
          
          <div class="form-group">
            <label for="temperature">temperature</label>
            <input type="number" id="temperature" name="temperature" class="form-control">
          </div>
          <div class="form-group">
            <label for="humidity">humidity</label>
            <input type="number" id="humidity" name="humidity" class="form-control">
          </div>
        
          <button type="submit" class="btn btn-primary btn-salvar">Predict</button>
        </fieldset>
      </form>
      <h1>Cenario : {{result}} </h1>
    </div>
    </div>
    </div>
    
</body>
</html>
